<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body {background-color: powderblue;
margin-left: 40%;
margin-top:100px;}
div{background-color:coral;
width: 500px;
height: 250px;
font-size: 20px;
text-align: center;
border-radius:10px;
color:white;
}
</style>
    <title>Vizitine kortele</title>
</head>
<body>
    <header>
       
    </header>
    <div class="vizitine">
    {{name}}<br/>
{{car}} <br/>
{{email}}<br/>
{{number}}<br/>
{{company}} <br/>
<img src="{{photo}} "/>
    </div>
    
    <footer>
        
    </footer>
    </body>
</html>