
{{name}}
{{surname}} <br/>
{{email}}

{{!-- {{#if yra}}
Vardas yra perduotas
{{/if}}

{{#if nera}}
toks tekstas neatvaizduojamas
{{/if}}


{{#if nera}}
{{else}}
tokio tekstas nera
{{/if}}


{{#each skaiciai}}
<li>{{this}}</li>
{{/each}}


{{#each objektas}}
   <li>{{this}}</li>
{{/each}}

{{objektas.tipas}} --}}