
{{!-- {{name}}<br/>
{{car}} <br/>
{{email}}<br/>
{{number}}<br/>
{{company}} <br/>
<img src="{{photo}} "/> --}}

{{!-- {{#if yra}}
Vardas yra perduotas
{{/if}}

{{#if nera}}
toks tekstas neatvaizduojamas
{{/if}}


{{#if nera}}
{{else}}
tokio tekstas nera
{{/if}}


{{#each skaiciai}}
<li>{{this}}</li>
{{/each}}


{{#each objektas}}
   <li>{{this}}</li>
{{/each}}

{{objektas.tipas}} --}}